<a href="https://colab.research.google.com/github/koularya/koularya/blob/main/pandatest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Create a pandas series containing the days of the week:Monday.....to Sunday

import pandas as pd

s = pd.Series(
    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    index=[1, 2, 3, 4, 5, 6, 7]
)

print(s)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

In [ ]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
index = list(range(1, 8))

s = pd.Series(days, index=index)

print(s

In [13]:
#PROBLEM 2
import pandas as pd

data = {
    "Name": ["Alice","Bob","Charlie"],
    "Age": [25,30,28],
    "City": ["New York","Los Angeles","Chicago"]
}

df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago

In [17]:
#PROBLEM3
import pandas as pd
print(df["Name"])
print("\n",df.sort_values(by="Age", ascending=True))
print("\n",df.shape)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

       Name  Age         City
0    Alice   25     New York
2  Charlie   28      Chicago
1      Bob   30  Los Angeles

 (3, 3)

In [20]:
#PROBLEM4
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "Date": pd.date_range(start="2021-10-01",periods=10),

    "Measurement":[16,13,14,12,np.nan,np.nan,np.nan,8,7,5]
})
print(df)

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05          NaN
5 2021-10-06          NaN
6 2021-10-07          NaN
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0

In [25]:
#PROBLEM4
def fill_missing_values():
  try:

    df.fillna(method="ffill", limit=2,inplace=True)
    df.fillna(value=df["Measurement"].mean,inplace=True)
    return list(df["Measurement"])

    except:pass
 fill_missing_values()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [21]:
fill_missing_values()

NameError: name 'fill_missing_values' is not defined

In [19]:
#PROBLEM 5
import pandas as pd

music_df = pd.read_csv("music.csv")

music_df.groupby("country")["plays"].sum()

music_df.groupby(["country", "genre"])["plays"].sum()

music_df[music_df["genre"] == "rock"]

              artist  country  plays genre  fans
0        The Beatles       UK    150  rock    50
1         Pink Floyd       UK  10000  rock  1500
3           Cairokee    Egypt    200  rock    10
4               ACDC       US    250  rock    20
5          The Doors       US   1000  rock    80
6  Poets of The Fall  Finland    250  rock    10